html{
    scroll-behavior: smooth;
}

.header.container-fluid{
    background: #fff;
}

.jumbotron.jumbotron-fluid{
    padding-top: 32px;
    padding-bottom: 32px;
}

.lead{
    font-size: 14px;
    margin-left: 5px;
    
}
.lead a{
    color: #007bff;
}

hr.header{
	border-top: 1px solid #8c8b8b;
}

.tech.row{
    border: 2px solid #8c8b8b;
    border-radius: 10px;
}

/* Card CSS */
.card{
    margin-top: 16px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px 4px 5px;
    font-weight: bold;
    font-size: 0.95rem;
}
.companyLogo{
    height: 32px;
    width: 32px; 
}

.card-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.card-title{
    font-size: 0.95rem;
}
.card-text{
    margin-bottom: 5px;
}