html{
    scroll-behavior: smooth;
}

.header.container-fluid{
    background: #fff;
}



.jumbotron.jumbotron-fluid{
    padding-top: 32px;
    padding-bottom: 32px;
}

.lead{
    font-size: 14px;
    margin-left: 5px;
    
}

.lead a{
    color: #007bff;
}

hr.header{
	border-top: 1px solid #8c8b8b;
}

.card{
    margin-top: 16px;
}
.companyLogo{
    height: 32px;
    width: 32px;
    margin: auto;
}

#companyLogoTd{
    width: 32px;
}

.tech.row{
    border: 2px solid #8c8b8b;
    border-radius: 10px;
}

.card-header{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.card-body{
    padding: 10px;
}

.card-title{
    font-size: 1rem;
}