/** Basic Page CSS **/
body{
  font-weight: 400;
}

header{
  background-color: #337ab7;
}

header a,
footer a{
  color: white;
}

header .lead{
  font-size: 0.8em;
}

footer{
  font-size: 0.8em;
  height: 60px;
  background-color: #337ab7;
}

.tech-row{
  border: 2px solid #8c8b8b;
  border-radius: 10px;
}

.card{
  min-width: 14rem;
}